## Introduction to Machine Learning

In [1]:
import pandas as pd
import numpy as np
import sklearn

In [4]:
data = pd.read_csv("https://www.dropbox.com/scl/fi/yf8t1x0uvrln93dzi6xd8/housing_small.csv?rlkey=uen32y937kqarrjra0v6jaez4&dl=1")
data.head()

,Unnamed: 0,SalePrice,Gr Liv Area,Bedroom AbvGr,Neighborhood_NAmes,Neighborhood_NWAmes
0,1,105000,896,2,True,False
1,2,172000,1329,3,True,False
2,3,244000,2110,3,True,False
3,19,210000,2073,3,False,True
4,20,190000,1844,3,False,True