---
title: "Lab 3"
author: "Ben Kessler"
date: "10/16/23"
output: html
self-contained: true
toc: true
theme: cosmo
echo: true
---

## Data Import

In [3]:
import pandas as pd
import numpy as np
xmas = pd.read_csv("https://www.dropbox.com/scl/fi/qxaslqqp5p08i1650rpc4/xmas.csv?rlkey=erdxi7jbh7pqf9fh4lv4cayp5&dl=1")
xmas

    Day Day.in.Words  Gift.Item        Verb Adjective        Location
0     1        first  partridge         NaN       NaN  in a pear tree
1     2       second       dove         NaN    turtle             NaN
2     3        third        hen         NaN    french             NaN
3     4       fourth       bird         NaN   calling             NaN
4     5        fifth       ring         NaN    golden             NaN
5     6        sixth      goose    a-laying       NaN             NaN
6     7      seventh       swan  a-swimming       NaN             NaN
7     8       eighth       maid   a-milking       NaN             NaN
8     9        ninth       lady     dancing       NaN             NaN
9    10        tenth       lord   a-leaping       NaN             NaN
10   11     eleventh      piper      piping       NaN             NaN
11   12      twelfth    drummer    drumming       NaN             NaN

## Create Function Pluralize Gift

In [4]:
def pluralize_gift(words):
    """
        Returns plural of a noun
  
          Parameters
          ----------
          words: str or [str]
            A noun or [nouns]
    
          Return
          ------
          str or [str]
            Plural version
    """   
    if type(words) == str:
        if "oo" in words:
            words = words.replace("oo", "ee")
        elif "y" in words:
            words = words.replace("y", "ies")
        else:
            words = words + "s"
        return words
    else:
        plur = []
        for word in words:
            if "oo" in word:
                plur.append(word.replace("oo", "ee"))
            elif "y" in word:
                plur.append(word.replace("y", "ies"))
            else:
                plur.append(word + "s")

    return plur

## Test Function Pluralize Gift

In [5]:
# Should work
pluralize_gift("goose")

# Will work if your function is vectorized! 
pluralize_gift(xmas['Gift.Item'])

['partridges',
 'doves',
 'hens',
 'birds',
 'rings',
 'geese',
 'swans',
 'maids',
 'ladies',
 'lords',
 'pipers',
 'drummers']

## Create Function Make Phrase

In [685]:
def make_phrase(num, item, verb, adjective, location):
    num_dict = {
        1: "One",
        2: "Two",
        3: "Three",
        4: "Four",
        5: "Five",
        6: "Six",
        7: "Seven",
        8: "Eight",
        9: "Nine",
        10: "Ten",
        11: "Eleven",
        12: "Twelve"
    }
    
    """
    Returns full song phrase
    
    Parameters
    ----------
    num: integer [1-12]
    item: noun [gift]
    verb: verb
    adjective: adjective
    location: noun [location]
    
    Return
    ------
    str
    full song phrase
    """
  
  # Step 1: Replace NAs with blank strings
    if verb is np.NAN: verb = ""
    if adjective is np.NAN: adjective = ""
    if location is np.NAN: location = ""
    
    verb = verb
    adjective = adjective
    location = location
  
  ## Step 2: If the day number is larger than 1, the gift items need pluralized!
  ### Hint: call the function you created above!
    
    if num > 1:
        p_item = pluralize_gift(item)
    else:
        p_item = item
  
  ## Step 3: Figure out if a gift item starts with a vowel
    # num_word = num_dict[num]
    num_word = num_dict[num]
  
    if item[0] in ["a", "e", "i", "o", "u"]:
        word = "an"
    else:
        word = "a"
  
  ## Step 4: For the first day, if the gift item starts with a vowel, replace the day with "an" and if the gift item does not start with a vowel, replace the day with "a" (e.g. a partridge in a pear tree). If it is not the first day, use just the number word (e.g. ten lords a leap)
    if num == 1:
        num_word = word

  ## Step 5: Put all of the pieces together into one string and return!
    string = num_word + " " + adjective + " " + p_item + " " + verb + " " + location
    string = " ".join(string.split())
    return string

## Test Function Make Phrase

In [186]:
make_phrase(num = 1,
            day = xmas["Day"][0],
            item = xmas["Gift.Item"][0], 
            verb = xmas["Verb"][0], 
            adjective = xmas["Adjective"][0], 
            location = xmas["Location"][0])

'a partridge in a pear tree'

In [198]:
xmas["Full.Phrase"] = xmas.apply(lambda x: make_phrase(x["Day"], x["Gift.Item"], x["Verb"], x["Adjective"], x["Location"]), axis = 1)
xmas["Full.Phrase"]

0     a partridge in a pear tree
1               Two turtle doves
2              Three french hens
3             Four calling birds
4              Five golden rings
5             Six geese a-laying
6         Seven swans a-swimming
7          Eight maids a-milking
8            Nine ladies dancing
9            Ten lords a-leaping
10          Eleven pipers piping
11      Twelve drummers drumming
Name: Full.Phrase, dtype: object

## Create Function Sing Day

In [631]:
def sing_day(dataset, num, phrase_col):
    num_dict = {
        1: "first",
        2: "second",
        3: "third",
        4: "fourth",
        5: "fifth",
        6: "sixth",
        7: "seventh",
        8: "eighth",
        9: "ninth",
        10: "tenth",
        11: "eleventh",
        12: "twelfth"
    }

    """
    Returns one day of song
    
    Parameters
    ----------
    dataset: pandas df
    num: integer [1-12]
    phrase_col: str
    
    Return
    ------
    pandas.Series
    """

    # Step 1: Setup the intro line
    intro = "On the " + num_dict[num] + " day of Christmas, my true love sent to me: \n"

    # Step 2: Sing the gift phrases
    # Hint: What order are they gifts sung in each day?
    phrases = dataset[phrase_col]
    gifts = ""
    for i in range(num-1, -1, -1):
        if i == 1:
            gifts = gifts + phrases[i] + ", and \n"
        elif i == 0:
            gifts = gifts + phrases[i] + ". \n"
        else:
            gifts = gifts + phrases[i] + ",\n"

    # Step 3: Put it all together and return
    return intro + gifts + "\n"

## Test Function Sing Day

In [678]:
from IPython.display import display, HTML
# Credit to https://stackoverflow.com/questions/34322448/pretty-printing-newlines-inside-a-string-in-a-pandas-dataframe
# Use the apply method to apply the sing_day function to each row in the DataFrame
results = xmas.apply(lambda x: sing_day(xmas, x["Day"], "Full.Phrase"), axis=1)

def pretty_print(df):
    return display(HTML(df.to_html().replace("\\n","<br>") ) )

pretty_print(results.to_frame())

## Use Your Functions!

In [681]:
xmas2 = pd.read_csv("https://www.dropbox.com/scl/fi/p9x9k8xwuzs9rhp582vfy/xmas_2.csv?rlkey=kvc3j3lmyn4opcidsrhcmrof1&dl=1")

In [684]:
xmas2["Full.Phrase"] = xmas2.apply(lambda x: make_phrase(x["Day"], x["Gift.Item"], x["Verb"], x["Adjective"], x["Location"]), axis = 1)
results = xmas2.apply(lambda x: sing_day(xmas2, x["Day"], "Full.Phrase"), axis=1)

def pretty_print(df):
    return display(HTML(df.to_html().replace("\\n","<br>") ) )

pretty_print(results.to_frame())