0. Load the `penguins` dataset from the `palmerpenguins` library, as well as any other libraries you need.

In [1]:
import pandas as pd
import numpy as np
from palmerpenguins import penguins
penguins = penguins.load_penguins()
penguins[0:10]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN,2007
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007

1. Write a function that takes in information about a penguin, and returns one of the following definitions:

*   "Big Mouth Billy": Male penguins with bill length times bill depth greater than 800.
*   "Dainty Daisy": Female penguins with flipper length less than 5% of body mass.
*   "Average Adelie:" Any Adelie penguins that do not fall into either category.
*   "Missing": Penguins with necesary information missing to be categorized
*   "Other": Any penguins that do not fall into any of the categories.

In [2]:
def penguin_definer(sex, bill_length, bill_depth, species, body_mass, flipper_length):
    # if np.nan in [sex, bill_length, bill_depth, species, body_mass, flipper_length]:
    #     return "Missing"
    
    if sex == "male" and (bill_length * bill_depth) > 800:
        return "Big Mouth Billy"
    elif sex == "female" and (flipper_length / body_mass) < .05:
        return "Dainty Daisy"
    elif species == "Adelie":
        return "Average Adelie"
    else:
        return "Other"

In [237]:
penguin_definer(
    bill_length = penguins["bill_length_mm"][3],
    bill_depth = penguins["bill_depth_mm"][3],
    sex = penguins["sex"][3],
    species = penguins["species"][3],
    body_mass = penguins["body_mass_g"][3],
    flipper_length = penguins["flipper_length_mm"][3]
)

'Missing'

2. Use an iterable function to create a new variable called `category_name` that adds these labels.

In [4]:
penguins["category_name"] = penguins.apply(
    lambda x: penguin_definer(x["sex"], x["bill_length_mm"], x["bill_depth_mm"], x["species"], x["body_mass_g"], x["flipper_length_mm"]),
    axis = 1
)

3. Run the following code to find the counts for each type.

In [37]:
penguins.value_counts("category_name")

category_name
Average Adelie     127
Other               84
Big Mouth Billy     71
Dainty Daisy        62
dtype: int64