In [22]:
import csv

In [5]:
import pandas as pd

In [14]:
df = pd.read_csv("national_park_trails.csv")

In [ ]:
#Units are in Meters, Convert to miles
#1 meter = .00062 miles

In [15]:
df.head

<bound method NDFrame.head of       trail_id                                               name  \
0     10020048                            Harding Ice Field Trail
1     10236086                         Mount Healy Overlook Trail
2     10267857                                 Exit Glacier Trail
3     10236076                               Horseshoe Lake Trail
4     10236082                                 Triple Lakes Trail
...        ...                                                ...
3308  10008302               Silversword Loop Via Halemau'u Trail
3309  10236001                                Keonehe'ehe'e Trail
3310  10258707                     Red Hill Overlook Summit Trail
3311  10014989                                        Kaupo Trail
3312  10259465  Ka Lu'u o ka O'o Cinder Cone via Crater and Sl...

                       area_name             city_name state_name  \
0     Kenai Fjords National Park                Seward     Alaska
1           Denali National Park  Denali National Park     Alaska
2     Kenai Fjords National Park                Seward     Alaska
3           Denali National Park  Denali National Park     Alaska
4           Denali National Park  Denali National Park     Alaska
...                          ...                   ...        ...
3308     Haleakala National Park                  Kula       Maui
3309     Haleakala National Park                  Kula       Maui
3310     Haleakala National Park                  Kula       Maui
3311     Haleakala National Park                  Kula       Maui
3312     Haleakala National Park                  Kula       Maui

       country_name                                         _geoloc  \
0     United States            {'lat': 60.18852, 'lng': -149.63156}
1     United States            {'lat': 63.73049, 'lng': -148.91968}
2     United States              {'lat': 60.18879, 'lng': -149.631}
3     United States              {'lat': 63.73661, 'lng': -148.915}
4     United States            {'lat': 63.73319, 'lng': -148.89682}
...             ...                                             ...
3308         Hawaii            {'lat': 20.75275, 'lng': -156.22884}
3309         Hawaii  {'lat': 20.714480000000002, 'lng': -156.25072}
3310         Hawaii            {'lat': 20.71007, 'lng': -156.25357}
3311         Hawaii              {'lat': 20.64981, 'lng': -156.137}
3312         Hawaii            {'lat': 20.71449, 'lng': -156.25085}

      popularity     length  elevation_gain  difficulty_rating    route_type  \
0        24.8931  15610.598       1161.8976                  5  out and back
1        18.0311   6920.162        507.7968                  3  out and back
2        17.7821   2896.812         81.9912                  1  out and back
3        16.2674   3379.614        119.7864                  1          loop
4        12.5935  29772.790       1124.7120                  5  out and back
...          ...        ...             ...                ...           ...
3308      9.3861  20116.750       1105.8144                  5          loop
3309      9.1555  28324.384       1171.9560                  5  out and back
3310      8.5066    321.868          3.9624                  1  out and back
3311      8.3240  19312.080       1670.9136                  5  out and back
3312      2.4176   8368.568        510.8448                  3          loop

      visitor_usage  avg_rating  num_reviews  \
0               3.0         5.0          423
1               1.0         4.5          260
2               3.0         4.5          224
3               2.0         4.5          237
4               1.0         4.5          110
...             ...         ...          ...
3308            2.0         4.5           43
3309            2.0         5.0           22
3310            NaN         4.5           31
3311            1.0         4.0            8
3312            2.0         4.5           45

                                               features  \
0     ['dogs-no', 'forest', 'river', 'views', 'water...
1     ['dogs-no', 'forest', 'views', 'wild-flowers',...
2     ['dogs-no', 'partially-paved', 'views', 'wildl...
3     ['dogs-no', 'forest', 'lake', 'kids', 'views',...
4     ['dogs-no', 'lake', 'views', 'wild-flowers', '...
...                                                 ...
3308               ['dogs-no', 'views', 'wild-flowers']
3309                   ['dogs-no', 'views', 'wildlife']
3310                       ['dogs-no', 'kids', 'views']
3311                   ['dogs-no', 'views', 'wildlife']
3312                                          ['views']

                                             activities units
0     ['birding', 'camping', 'hiking', 'nature-trips...     i
1     ['birding', 'camping', 'hiking', 'nature-trips...     i
2                                 ['hiking', 'walking']     i
3     ['birding', 'hiking', 'nature-trips', 'trail-r...     i
4     ['birding', 'fishing', 'hiking', 'nature-trips...     i
...                                                 ...   ...
3308              ['birding', 'hiking', 'nature-trips']     m
3309               ['backpacking', 'camping', 'hiking']     m
3310                              ['hiking', 'walking']     m
3311                                         ['hiking']     m
3312                                         ['hiking']     m

[3313 rows x 18 columns]>

In [ ]:
read

Question 3

In [21]:
find "land"

SyntaxError: invalid syntax (3193131514.py, line 1)

In [ ]:
Question 4

In [17]:
np_trails_new

NameError: name 'np_trails_new' is not defined

In [18]:
from plotnine import ggplot, aes, geom_density, facet_wrap, ggtitle

(ggplot(np_trails_new, aes(x="score"))
+ geom_density()
+ facet_wrap('~ measure', scales = 'free') 
+ ggtitle("Overall distribution of various trail scores in National parks")
)

ModuleNotFoundError: No module named 'plotnine'

In [ ]:
Question 5

In [23]:
from plotnine import 
from plotnine.scales import

(ggplot(ca_parks, aes(x="area_name", y="num_reviews", "state_name" = "California"))
+ geom_box()
+ scale 0() 
+ scale 1200(guide=False)
+ ______(
  x = "",
  y = "num_reviews",
  num_reviews= "Number of reviews per trail for CA Parks"
)
+ avg_rating()
+ theme(rainbow=element_text(rotation= vertical, hjust=1)) 
)

SyntaxError: invalid syntax (3756883549.py, line 1)

In [ ]:
Question 2.1

In [25]:
def recommend_trails(dataset, national_park_trails.csv):
  
  if min_elev is None:
    min_elev = 0
    max_elev = 500
    area_name = "Crater Lake National Park
    avg_rating = "4.5"
    min_rating = 4
    route_type = "loop"
    
    
  
  
  return recommend_trails

SyntaxError: unterminated string literal (detected at line 6) (2681750282.py, line 6)

In [ ]:
Question 2.2

In [26]:
def scrape_temps(month = None):
  
  my_url = "https://www.extremeweatherwatch.com/us-state-averages"
  response = month_July(my_url)
  soup = BeautifulSoup( "html.parser")

    #tempertures in July for hiking
    
    scrape_month_temp(month = "july")
  
  
  
  return

IndentationError: unexpected indent (382660569.py, line 9)

In [ ]:
Question 2.3

In [ ]:

#1000-3000 meters of elevation (I like mountains, but not too big.)

#Rated at least a 4.5 on average

#A loop trail (I donâ€™t like to retrace my steps)

#Not too cold in the summer, even at the peak

In [ ]:
recommend_trails
min_elevation_gain = 1000
max_elevation_gain = 3000
route_type = "loop"

In [ ]:
scrape temps = "warm" 
find_months "May,June,July,August"
read.url (https://www.extremeweatherwatch.com/us-state-averages)