In [22]:
import pandas as pd
import numpy as np
import re

In [2]:
data = pd.read_csv("/Users/ben/Documents/GitHub/DSML/Data/national_park_trails.csv")
data

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips...",i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips...",i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']",i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r...",i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips...",i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3308,10008302,Silversword Loop Via Halemau'u Trail,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.75275, 'lng': -156.22884}",9.3861,20116.750,1105.8144,5,loop,2.0,4.5,43,"['dogs-no', 'views', 'wild-flowers']","['birding', 'hiking', 'nature-trips']",m
3309,10236001,Keonehe'ehe'e Trail,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.714480000000002, 'lng': -156.25072}",9.1555,28324.384,1171.9560,5,out and back,2.0,5.0,22,"['dogs-no', 'views', 'wildlife']","['backpacking', 'camping', 'hiking']",m
3310,10258707,Red Hill Overlook Summit Trail,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.71007, 'lng': -156.25357}",8.5066,321.868,3.9624,1,out and back,NaN,4.5,31,"['dogs-no', 'kids', 'views']","['hiking', 'walking']",m
3311,10014989,Kaupo Trail,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.64981, 'lng': -156.137}",8.3240,19312.080,1670.9136,5,out and back,1.0,4.0,8,"['dogs-no', 'views', 'wildlife']",['hiking'],m
3312,10259465,Ka Lu'u o ka O'o Cinder Cone via Crater and Sl...,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.71449, 'lng': -156.25085}",2.4176,8368.568,510.8448,3,loop,2.0,4.5,45,['views'],['hiking'],m

In [73]:
data.loc[data["length"] == data["length"].max()]

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units,no_dogs
2753,10040050,Olympic Peninsula Loop Drive,Olympic National Park,Olympia,Washington,United States,"{'lat': 47.02164, 'lng': -122.90689}",9.9486,529794.728,5096.8656,1,loop,2.0,4.5,18,"['beach', 'forest', 'lake', 'kids', 'hot-sprin...","['birding', 'camping', 'fishing', 'nature-trip...",i,[]

In [76]:
data.value_counts("city_name")
data.value_counts("country_name")
data.value_counts("route_type")

route_type
out and back      1906
loop              1087
point to point     320
dtype: int64

In [74]:
california_trails = data[data["state_name"] == "California"]
yosemite_trails = california_trails[california_trails["area_name"] == "Yosemite National Park"]
yosemite_trails[["name", "state_name", "area_name", "num_reviews", "popularity"]].sort_values("num_reviews", ascending=False)[0:10]

,name,state_name,area_name,num_reviews,popularity
219,Vernal and Nevada Falls via the Mist Trail,California,Yosemite National Park,1869,68.1488
220,Upper Yosemite Falls Trail,California,Yosemite National Park,1351,53.6280
221,Half Dome Trail,California,Yosemite National Park,1196,52.5316
228,Vernal Falls,California,Yosemite National Park,1107,37.2129
223,Lower Yosemite Falls Trail,California,Yosemite National Park,925,43.3499
225,Four Mile Trail,California,Yosemite National Park,754,38.2519
224,Clouds Rest Trail via Tenaya Lake,California,Yosemite National Park,685,38.5795
230,Mirror Lake via Valley Loop Trail,California,Yosemite National Park,622,34.1675
226,Sentinel Dome Trail,California,Yosemite National Park,577,37.5768
237,Bridalveil Fall Trail,California,Yosemite National Park,455,29.4481

In [45]:
data.value_counts("state_name")

state_name
California        707
Washington        320
Wyoming           311
Utah              292
Colorado          262
Virginia          191
Maine             179
Tennessee         175
Arizona           174
Montana           151
North Carolina    118
Texas              94
Ohio               50
Hawaii             35
Florida            31
Alaska             29
Kentucky           28
Nevada             25
North Dakota       23
Oregon             22
South Dakota       20
Indiana            16
Arkansas           16
Maui               14
New Mexico          8
South Carolina      8
Minnesota           7
Michigan            4
Missouri            2
Georgia             1
dtype: int64

In [40]:
data[["trail_id", "name", "state_name", "popularity"]].loc[data["popularity"] > 25].sort_values("popularity", ascending = False)

,trail_id,name,state_name,popularity
2150,10006571,Angels Landing Trail,Utah,84.6229
926,10026705,Emerald Lake Trail,Colorado,83.0341
219,10026910,Vernal and Nevada Falls via the Mist Trail,California,68.1488
927,10235688,Sky Pond via Glacier Gorge Trail,Colorado,65.4770
2151,10012464,Delicate Arch Trail,Utah,63.6748
...,...,...,...,...
2175,10033026,Mossy Cave Turret Arch and Little Windows Trail,Utah,25.5268
1463,10012004,Cracker Lake Trail,Montana,25.3781
949,10035508,Cascade Falls,Colorado,25.2380
1890,10259229,Spruce Flats Falls Trail,Tennessee,25.1986
246,10013977,Condor Gulch Trail to High Peaks Trail Loop,California,25.0432

In [21]:
data.value_counts("route_type")

route_type
out and back      1906
loop              1087
point to point     320
dtype: int64

In [18]:
data["no_dogs"] = data["features"].apply(lambda x: re.findall(pattern = "dogs-no", string = x))
count = 0
for row in data["no_dogs"]:
    count += len(row)
print(count)

2423